<h1 mat-dialog-title>Register to LiveKraken</h1>
<div mat-dialog-content>
    <form (ngSubmit)="submit()" #f='ngForm' class="col-centered">
        <div class="container">
            <div class="row">
                <mat-form-field>
                    <input [(ngModel)]="data.username" name="username" matInput placeholder="username" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input [(ngModel)]="data.email" name="email" matInput placeholder="email" type="email" email required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <input [(ngModel)]="data.password" name="password" matInput placeholder="password" type="password" required>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial [disabled]="!f.valid">Register</button>
</div>